
body {
    /* background-image: url("bground.avif.jpg"); */
    background-color: plum;
}

h1 {
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: grey;
    padding: 20px;
}

/* .button {
    color: white;
} */

a:link {
    color: white;
    list-style-type: none;
    text-decoration: none;
}

a:hover {
    color: darkgrey;
    list-style-type: none;
    text-decoration: none;
}

a:visited {
    color: white;
    list-style-type: none;
    text-decoration: none;
}

